@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #f5edf0;
}

.active {
  font-weight: bold;
  box-shadow: 0px 5px 5px rgb(110, 110, 110);
}

nav {
  margin: 0.2em 0.2em;
  padding-top: 1.5em;

  height: 60px;
  background-color: #d1ccdc;
}

.left-nav a {
  color: rgb(233, 255, 254);
  font-size: 20px;
  margin-left: 0.5em;
  padding: 0.5em 0.7em;
  background-color: #424c55;
  border-radius: 5em;
}

.left-nav {
  float: left;
  padding-top: 0.5em;
}

.right-nav {
  float: right;
  height: 3em;
  width: 7em;
  display: flex;
}

nav a:hover {
  color: rgb(230, 221, 173);
}

a {
  text-decoration: none;
}

@keyframes link-image-animation {
  to {
    margin-top: 0.2em;
    box-shadow: 0px 5px 5px rgb(141, 141, 141);
  }
}

.link-image {
  margin-right: 0.5em;
  width: 35px;
  border-radius: 20%;
}

.link-image:hover {
  animation: link-image-animation 0.2s;
  animation-fill-mode: forwards;
}

h1 {
  margin-left: 0.1em;
}

.project-image-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.project-list-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.project-image {
  margin: 0.5em 1em;
  width: 30%;
  height: 30%;
  box-shadow: 4px 5px 5px rgb(141, 141, 141);
}

.contact-card-container {
  display: flex;
  justify-content: center;
}

.contact-card {
  text-align: center;
  margin-top: 1em;
  flex-direction: row;
  background-color: #ece3e6;
  padding: 0.9em 1.5em;
  box-shadow: 0px 5px 5px rgb(141, 141, 141);
}

iframe {
  width: 300px;
  height: 300px;
}

ul {
  font-size: 20px;
  padding-left: 1em;
  list-style-type: none;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
